<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Destination" value="" />
    <add key="PluginDir" value="../../Assets/Plugins" />
    <add key="ClientID" value="" />
    <add key="ImgurUploadURL" value="https://api.imgur.com/3/image" />
    <add key="OutputMethod" value="Clipboard" />
    <add key="UIColorR" value="0" />
    <add key="UIColorG" value="128" />
    <add key="UIColorB" value="255" />
    <add key="UIColorA" value="255" />
    <add key="BGColorR" value="0" />
    <add key="BGColorG" value="128" />
    <add key="BGColorB" value="255" />
    <add key="BGOpacity" value="20" />
    <add key="Culture" value="cs-CZ"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="actions.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>