<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="actions.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="ClientID" value="8675e5b2df6484b"/>
    <add key="ResourceURLImage" value="https://api.imgur.com/3/image"/>
    <add key="ResourceURLAlbum" value="https://api.imgur.com/3/album"/>
    <add key="AlbumID" value="QCuJ1"/>
    <add key="AlbumDeleteHash" value="T0BAxIgNSXx5hHC"/>
    <add key="WatcherDIR" value="C:/Screenshots"/>
    <add key="EmailSMTPServer" value="smtp.vsb.cz"/>
    <add key="EmailFrom" value="filip.motak.st@vsb.cz"/>
    <add key="EmailTo" value="filip.motak.st@vsb.cz"/>
    <add key="StatHour" value="00"/>
    <add key="StatMinute" value="00"/>
  </appSettings>
</configuration>